html, body {
  height: 100%;
  margin: 0;
}

section#landing {
  background-image: url('./images/General/landing-back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; width: 100%;
}